
@model KGID_Models.KGID_GroupInsurance.VM_GISDeptVerificationDetails
@{
    ViewBag.Title = "DDO Verification";
}
<style>
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #ffffff !important;
        background-color: #2184bed1 !important;
        border-color: #dee2e6 #dee2e6 #2184be !important;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer !important;
    }

    #navmenu .nav-link {
        border: 1px solid #d8d8d885 !important;
        margin: .5px;
    }

    .bs-example {
        margin: 20px;
    }

    .accordion .fa {
        margin-right: 0.5rem;
    }

    .headinglink {
        cursor: pointer;
        color: #007bff !important;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .sidebar {
        height: 88%;
        width: 0;
        position: absolute;
        z-index: 1;
        top: 8.5%;
        right: 3%;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 33px;
        resize: vertical;
    }

    .clsFrame {
        max-width: 100%;
        height: 100%;
        background-color: #fff;
    }

    #iViewApp {
        height: 100%;
        width: 100%;
    }

    .sidebar .fullscnbtn {
        position: absolute;
        top: 0;
        right: 55px;
        font-size: 21px;
        margin-left: 50px;
        margin-top: 7px;
    }

    div#divLoadUploadedDocuments {
        color: black;
    }

    form#frmDDOVerDetails {
        color: black;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><b><label class="knlan">ವೇತನ ಬಟವಾಡೆ ಅಧಿಕಾರಿಗಳ ಪರಿಶೀಲನೆ</label><label class="Enlan">Nominee Change Request:DDO Verification</label></b></h6>

            </div>
            <div class="card-body">
                <div class="form-group" style="color:black;">
                    <b><label class="knlan">ಮನವಿದಾರರ ಹೆಸರು :</label><label class="Enlan">Employee Name:</label></b><span id="spnEName"></span> | <b><label class="knlan">ಪ್ರಸ್ತಾವನೆ ರೆಫರೆನ್ಸ್ ಸಂಖ್ಯೆ:</label><label class="Enlan">Application Reference Number:</label></b><span id="spnRNo"></span>
                </div>
                <nav id="navmenu">
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a id="nav-tab-Workflow" class="nav-item nav-link active" data-toggle="tab" href="#workflow" role="tab" aria-controls="workflow" aria-selected="false"><b><label class="knlan">ಕಾರ್ಯ ಪ್ರಕ್ರಿಯೆಯ ವಿವರ</label><label class="Enlan">Workflow Details</label></b></a>
                        <a id="nav-tab-Form" class="nav-item nav-link" data-toggle="tab" href="#applicationForm" role="tab" aria-controls="applicationForm" aria-selected="true"><b><label class="knlan">ವಿಮಾ ಪ್ರಸ್ತಾವನೆ </label><label class="Enlan">Application Form</label></b></a>
                        <a id="nav-tab-Scrutiny" class="nav-item nav-link" data-toggle="tab" href="#scrutiny" role="tab" aria-controls="scrutiny" aria-selected="false"><b><label class="knlan">ಪರಿಶೀಲನೆ</label><label class="Enlan">Scrutiny</label></b></a>
                        <a id="nav-tab-Documents" class="nav-item nav-link" data-toggle="tab" href="#uploadeddocuments" role="tab" aria-controls="uploadeddocuments" aria-selected="false"><b><label class="knlan">ಅಪ್‍ಲೋಡ್‍ ಮಾಡಲಾದ ದಾಖಲಾತಿಗಳು</label><label class="Enlan">Uploaded Documents</label></b></a>
                        @*<a id="nav-tab-Workflow" class="nav-item nav-link" data-toggle="tab" href="#supportingDocs" role="tab" aria-controls="supportingDocs" aria-selected="false"><b>Supporting Documents</b></a>*@
                    </div>
                </nav>

                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" style="background: #dfddd8;padding: 2.5%!important;">

                    @*//WORKFLOW*@
                    <div class="tab-pane fade show active" id="workflow" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div id="workflowTab" class="application-tab">
                            <section>
                                <table class="table table-striped table-bordered" id="tblDDOWorkflow" cellspacing="0">
                                    <thead class="t_head">
                                        <tr>
                                            @*<th>Application Referance Number</th>*@
                                            <th><label class="knlan">ಸಲ್ಲಿಸಿದ ದಿನಾಂಕ</label><label class="Enlan">Submitted Date</label></th>
                                            <th><label class="knlan">ಇಂದ</label><label class="Enlan">From</label></th>
                                            <th><label class="knlan">ವರಗೆ</label><label class="Enlan">To</label></th>
                                            <th><label class="knlan">ಷರಾ</label><label class="Enlan">Remarks</label></th>
                                            <th><label class="knlan">ಅಭಿಪ್ರಾಯ</label><label class="Enlan">Comments</label></th>
                                            <th><label class="knlan">ಸ್ಥಿತಿ</label><label class="Enlan">Status</label></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.WorkFlowDetails != null && Model.WorkFlowDetails.Count > 0)
                                        {
                                            foreach (var item in Model.WorkFlowDetails)
                                            {
                                                <tr>
                                                    @*<td>@item.ApplicationRefNo</td>*@
                                                    @*<td>@item.CreationDateTime</td>*@
                                                    <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.CreationDateTime))</td>
                                                    <td>@item.From</td>
                                                    <td>@item.To</td>
                                                    <td>@item.Remarks</td>
                                                    <td>@item.Comments</td>
                                                    <td>@item.ApplicationStatus</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </section>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="form-group col-12 text-right">
                                    <a id="btnWFNext" class="btn btn-primary btn-sm text-white">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*APPLICATION FORM*@
                    <div class="tab-pane fade" id="applicationForm" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div id="applicationFormTab" class="application-tab">
                            <div class="row col-12" id="divLoadUploadedDocuments">

                                <div class="form-group col-3">

                                    <label class="control-label text-justify col-6">Form 6</label>
                                    @*<a class="viewuploadeddoc col-6" href="javascript:;" data-path="@item.UploaddocPath">Click Here</a>*@
                                    @Html.ActionLink("Click Here", "ViewFilePath", "Home", new { FilePath = Model.Form6UploaddocPath }, htmlAttributes: new { @target = "_blank", @style = "text-decoration: underline; color: #0056b3;" })

                                </div>

                                <div class="form-group col-3">

                                    <label class="control-label text-justify col-6">Form 7</label>
                                    @*<a class="viewuploadeddoc col-6" href="javascript:;" data-path="@item.UploaddocPath">Click Here</a>*@
                                    @Html.ActionLink("Click Here", "ViewFilePath", "Home", new { FilePath = Model.Form7UploaddocPath }, htmlAttributes: new { @target = "_blank", @style = "text-decoration: underline; color: #0056b3;" })

                                </div>

                            </div>

                            @*//ADOPTION FILE PATH*@
                            @if (Model.listUploadDocuments != null && Model.listUploadDocuments.Count > 0)
                            {
                                <div class="row col-12" id="divAdoptionDocuments" style="color:black;">
                                    <div class="row col-12 ml-3" id="headingOne" style="color:black;">
                                        <p class="mb-0" style="font-weight: 700; text-decoration: underline; font-size: 14px;">Uploaded Adoption File</p>
                                    </div>

                                    @foreach (var item in Model.listUploadDocuments)
                                    {
                                        <div class="form-group col-4 mt-3">

                                            <label class="control-label text-justify col-6">@item.UploaddocType </label>
                                            @*<a class="viewuploadeddoc col-6" href="javascript:;" data-path="@item.UploaddocPath">Click Here</a>*@
                                            @Html.ActionLink("Click Here", "ViewFilePath", "Home", new { FilePath = item.UploaddocPath }, htmlAttributes: new { @target = "_blank", @style = "text-decoration: underline; color: #0056b3;" })

                                        </div>
                                    }






                                    @*</div>
                                        </div>*@
                                </div>
                            }

                            @*//ADOPTION FILE PATH*@

                            <section>
                                <div class="bs-example">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card" id="divPanel1" style="display:none">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button id="btncollapseOne" type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                                                        <i class="fa fa-plus"></i>
                                                        <span class="knlan">ಮೂಲ ಹಾಗೂ ಕೆಜಿಐಡಿ  ವಿವರಗಳನ್ನು ವೀಕ್ಷಿಸಿ</span>
                                                        <span class="Enlan"> View Basic </span>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <h2 class="text-center"><label class="knlan">ಮೂಲ ವಿವರಗಳು</label><label class="Enlan">Basic Details</label></h2>
                                                    <hr />
                                                    <section>
                                                        @{
                                                            //@Html.Action("BasicDetailsToView", "ViewDataToVerify")
                                                            @Html.Action("GISBasicDetailsToView", "GroupInsurance")
                                                        }
                                                    </section>
                                                    <div id="divBD"></div>
                                                    <hr />
                                                    @*<h2 class="text-center"><label class="knlan">ಕೆ.ಜಿ.ಐ.ಡಿ ವಿವರಗಳು</label><label class="Enlan">KGID Details</label></h2>
                                                        <hr />
                                                        <div id="divKD"></div>*@
                                                    <div class="row">
                                                        <div class="col-12 form-group">
                                                            @Html.CheckBox("VerifyProposerDetails", new { @id = "chkPropD", @class = "chk-req", @onchange = "ChangeVerificationStatus('chkPD',this.id)" }) <b>  <label class="knlan">ಪರಿಶೀಲಿಸಿದೆ</label><label class="Enlan">Verify</label></b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" id="divPanel2">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0">
                                                    <button id="btncollapseTwo" type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">
                                                        <i class="fa fa-plus"></i>
                                                        <span class="knlan">ಕುಟುಂಬ ಸದಸ್ಯರ ಹಾಗೂ ನಾಮನಿರ್ದೇಶಿತರ ವಿವರಗಳನ್ನು ವೀಕ್ಷಿಸಿ</span>
                                                        <span class="Enlan"> View  Nominee Details</span>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <h2 class="text-center" style="color:black;"><label class="knlan">ನಾಮನಿರ್ದೇಶಿತ ವಿವರಗಳು</label><label class="Enlan">Nominee Details</label></h2>
                                                    <hr />
                                                    <div id="divND"></div>
                                                    <div class="row">
                                                        <div class="col-12 form-group" style="color:black;">
                                                            @Html.CheckBox("VerifyFmlyDetails", new { @id = "chkFamD", @class = "chk-req", @onchange = "ChangeVerificationStatus('chkFamNomD',this.id)" }) <b><label class="knlan">ಪರಿಶೀಲಿಸಿದೆ</label><label class="Enlan">Verify</label></b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </section>
                        </div>

                        <div id="viewSidebar" class="sidebar" style="display:none;">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" title="Close">×</a>
                            @*<a href="javascript:void(0)" class="fullscnbtn" onclick="fullScreenView()" title="View full screen"><i class="fa fa-toggle-left"></i></a>*@
                            <div class="clsFrame">
                                <iframe id="iViewApp" src=""></iframe>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="form-group col-12  text-right">
                                    <a id="btnAFPrevious" class="btn btn-primary btn-sm text-white">Previous</a>
                                    <a id="btnAFNext" class="btn btn-primary btn-sm text-white">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*// SCRUNITY*@
                    <div class="tab-pane fade" id="scrutiny" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div id="scrutinyTab" class="application-tab">
                            <section>
                                @*@using (Html.BeginForm("InsertVerifyDetails", "VerifyDetails", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmDDOVerDetails" }))
                                    {*@
                                <form id="frmDDOVerDetails" enctype="multipart/form-data">
                                    @Html.AntiForgeryToken();
                                    @Html.HiddenFor(m => m.EmpCode, new { id = "hdnEmployeeCode" })
                                    @Html.HiddenFor(m => m.ApplicationId, new { id = "hdnAppCode" })
                                    @*<div class="form-group">*@
                                    <div class="row">
                                        <div class="row col-6">
                                            <div class="form-group col-6 pl-0">
                                                <a id="a_coltwo" class="headinglink" data-toggle="collapse" data-target="#collapseTwo" onclick="showtab('headingTwo','collapseTwo')"><label class="knlan">ಕುಟುಂಬ ಹಾಗೂ ನಾಮನಿರ್ದೇಶಿತರ ವಿವರಗಳನ್ನು ಪರಿಶೀಲಿಸುವುದು</label><label class="Enlan">Verify  Nominee Details</label></a>
                                            </div>
                                            <div class="form-group col-6">
                                                @Html.CheckBoxFor(m => m.VerifyProposerDetails, new { @id = "chkFamNomD", @class = "chk-req", disabled = "true" })  <b><label class="knlan">ಪರಿಶೀಲಿಸಿದೆ</label><label class="Enlan">Verified</label></b>
                                                <label class="err text-danger col-12 pt-2" style="display:none;" id="errchkFamNomD">Please verify family & nominee details in application form</label>
                                            </div>
                                        </div>
                                        <div class="row col-6">
                                            <div class="form-group col-6 pl-0">
                                                <label for="txtAppDetails" class="knlan control-label required">ಪ್ರಸ್ತಾವನೆದಾರರ ವಿವರಗಳು ಸರಿಯಾಗಿವೆಯೇ</label>
                                                @*<label for="txtAppDetails" class="Enlan control-label required">Whether applicant details are correct.</label>*@
                                                <label for="txtAppDetails" class="Enlan control-label required">Whether applicant's nominee  details are verified.</label>
                                            </div>
                                            <div class="form-group col-6">
                                                @Html.CheckBox("VerifyApplicantDetails", new { @id = "chkAppD", @class = "chk-req verify" }) <b><label class="knlan">ಪರಿಶೀಲಿಸಿದೆ</label><label class="Enlan">Verified</label></b>
                                                <label class="err text-danger col-12 pt-2" style="display:none;" id="errchkAppD">Please verify applicant details</label>
                                            </div>
                                        </div>
                                    </div>
                                    @*</div>*@
                                    @*<div class="form-group">*@
                                    @*<div class="row">
                                            <div class="row col-6">
                                                <div class="form-group col-6 pl-0">
                                                    <a id="a_coltwo" class="headinglink" data-toggle="collapse" data-target="#collapseTwo" onclick="showtab('headingTwo','collapseTwo')"><label class="knlan">ಕುಟುಂಬ ಹಾಗೂ ನಾಮನಿರ್ದೇಶಿತರ ವಿವರಗಳನ್ನು ಪರಿಶೀಲಿಸುವುದು</label><label class="Enlan">Verify  Nominee Details</label></a>
                                                </div>
                                                <div class="form-group col-6">
                                                    @Html.CheckBoxFor(m => m.VerifyProposerDetails, new { @id = "chkFamNomD", @class = "chk-req", disabled = "true" })  <b><label class="knlan">ಪರಿಶೀಲಿಸಿದೆ</label><label class="Enlan">Verified</label></b>
                                                    <label class="err text-danger col-12 pt-2" style="display:none;">Please verify family & nominee details in application form</label>
                                                </div>
                                            </div>
                                            <div class="row col-6">
                                                <div class="form-group col-6 pl-0">
                                                    <label for="txtAppDetails" class="knlan control-label required">ಪ್ರಸ್ತಾವನೆದಾರರು ಪ್ರಾರಂಭಿಕ ಠೇವಣಿಯನ್ನು ಪಾವತಿಸಿದ್ದಾರೆಯೇ</label>
                                                    <label for="txtAppDetails" class="Enlan control-label required">Whether applicant has paid initial deposit premium.</label>
                                                </div>
                                                <div class="form-group col-6">
                                                    @Html.CheckBox("VerifyPaymentDetails", new { @id = "chkPaidD", @class = "chk-req verify" }) <b><label class="knlan">ಪರಿಶೀಲಿಸಿದೆ</label><label class="Enlan">Verified</label></b>
                                                    <label class="err text-danger col-12 pt-2" style="display:none;">Please verify applicant initial deposit premium has paid</label>
                                                </div>
                                            </div>
                                        </div>*@
                                    @*</div>*@
                                    @*<div class="form-group">*@
                                    @*<div class="row">

                                            <div class="row col-6"></div>
                                            <div class="row col-6">
                                                <div class="form-group col-6 pl-0">
                                                    <label for="txtAppDetails" class="knlan control-label required">ಪ್ರಸ್ತಾವನೆದಾರರು ಪ್ರಸ್ತಾವನೆ ನಮೂನೆಯಲ್ಲಿ ಸಹಿ ಮಾಡಿದ್ದಾರೆಯೇ.</label>
                                                    <label for="txtAppDetails" class="Enlan control-label required">Whether applicant signed propsal form.</label>
                                                </div>
                                                <div class="form-group col-6">
                                                    @Html.CheckBox("VerifyApplicantSigned", new { @id = "chkSignedD", @class = "chk-req verify" }) <b><label class="knlan">ಪರಿಶೀಲಿಸಿದೆ</label><label class="Enlan">Verified</label></b>
                                                    <label class="err text-danger col-12 pt-2" style="display:none;">Please verify applicant signed propsal form.</label>
                                                </div>
                                            </div>
                                        </div>*@
                                    @*</div>*@
                                    @*<div class="form-group">*@
                                    <div class="row">


                                    </div>




                                    <div class="form-group">
                                        <div class="row col-12">

                                            <div class="form-group col-4">
                                                <label for="txtRemarks" class="knlan control-label">ಷರಾ</label>
                                                <label for="txtRemarks" class="Enlan control-label">Remarks</label>


                                                @if (Model.IsMedicalRequired == false)
                                                {
                                                    var list = KGID.Models.VM_Remarks.GetRemarkList(1).ToList();

                                                    var Medicallist = KGID.Models.VM_Remarks.GetRemarkList(1).Where(a => a.Text.Contains("Medical")).ToList();

                                                    list.RemoveAll(x => Medicallist.Any(y => y.Value == x.Value));


                                                    @Html.DropDownListFor(model => model.Remarks,
                                                        new SelectList(list, "Value", "Text"),
                                                        new { @id = "ddlRemarks", @class = "form-control" })


                                                }
                                                else
                                                {
                                                    @Html.DropDownListFor(model => model.Remarks,
                                                    new SelectList(KGID.Models.VM_Remarks.GetRemarkList(1), "Value", "Text"),
                                                       new { @id = "ddlRemarks", @class = "form-control" })
                                                }
                                                <label id="errRemarksReq" class="text-danger pt-2 err" style="display:none;">Please enter remarks before sending back the application</label>
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="txtComments" class="knlan control-label">ಅಭಿಪ್ರಾಯ</label>
                                                <label for="txtComments" class="Enlan control-label">Comment</label>
                                                @Html.TextAreaFor(Model => Model.Comments, new { @id = "txtComments", @class = "form-control", @maxlength = "1000" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-12">
                                        <div class="row col-12">
                                            <div class="col-8">
                                                <label class="col-6" id="lblBackToEmp">@Html.RadioButtonFor(model => model.ApplicationStatus, 2, new { @id = "rbtnBackToEmployee", @class = "float-left" })<span class="knlan float-left ml-1">ಪ್ರಸ್ತಾವನೆದಾರರಿಗೆ ಹಿಂದಿರುಗಿಸಿ</span> <span class="Enlan float-left ml-1">Send Back to Employee</span></label>

                                                <label class="col-6" id="lblfrwftoddo">@Html.RadioButtonFor(model => model.ApplicationStatus, 15, new { @id = "rbtnForward", @class = "float-left" })<span class="knlan float-left ml-1">ಕೆಜಿಐಡಿ ಕಛೇರಿಗೆ ಕಳುಹಿಸುವುದು</span> <span class="Enlan float-left ml-1">Approved</span></label>
                                                <label class="err text-danger col-12 pt-2" style="display:none;" id="errrbtn">Please select action to be taken</label>
                                            </div>
                                            <div class="col-4">
                                                <button id="btnSubmit" class="btn btn-success">Send</button>
                                                <button id="btnClear" class="btn btn-danger" style="display:none;">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                    @*}*@
                                </form>
                            </section>
                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="form-group col-12 text-right">
                                    <a id="btnSPrevious" class="btn btn-primary btn-sm text-white">Previous</a>
                                    <a id="btnSNext" class="btn btn-primary btn-sm text-white">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*UPLOAD DOCUMENTS*@
                    <div class="tab-pane fade" id="uploadeddocuments" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div id="documentsTab" class="application-tab">
                            <section>
                                <div class="form-group">
                                    <div class="row col-12" id="divLoadUploadedDocuments">
                                        <div class="form-group col-3">

                                            <label class="control-label text-justify col-6">Form 6</label>
                                            @*<a class="viewuploadeddoc col-6" href="javascript:;" data-path="@item.UploaddocPath">Click Here</a>*@
                                            @Html.ActionLink("Click Here", "ViewFilePath", "Home", new { FilePath = Model.Form6UploaddocPath }, htmlAttributes: new { @target = "_blank", @style = "text-decoration: underline; color: #0056b3;" })

                                        </div>

                                        <div class="form-group col-3">

                                            <label class="control-label text-justify col-6">Form 7</label>
                                            @*<a class="viewuploadeddoc col-6" href="javascript:;" data-path="@item.UploaddocPath">Click Here</a>*@
                                            @Html.ActionLink("Click Here", "ViewFilePath", "Home", new { FilePath = Model.Form7UploaddocPath }, htmlAttributes: new { @target = "_blank", @style = "text-decoration: underline; color: #0056b3;" })

                                        </div>

                                    </div>
                                </div>

                                @*//ADOPTION FILE PATH*@
                                @if (Model.listUploadDocuments != null && Model.listUploadDocuments.Count > 0)
                                {
                                    <div class="row col-12" id="divAdoptionDocuments1" style="color:black;">
                                        <div class="row col-12 ml-3" id="headingOne" style="color:black;">
                                            <p class="mb-0" style="font-weight: 700; text-decoration: underline; font-size: 14px;">Uploaded Adoption File</p>
                                        </div>

                                        @foreach (var item in Model.listUploadDocuments)
                                        {
                                            <div class="form-group col-4 mt-3">

                                                <label class="control-label text-justify col-6">@item.UploaddocType </label>
                                                @*<a class="viewuploadeddoc col-6" href="javascript:;" data-path="@item.UploaddocPath">Click Here</a>*@
                                                @Html.ActionLink("Click Here", "ViewFilePath", "Home", new { FilePath = item.UploaddocPath }, htmlAttributes: new { @target = "_blank", @style = "text-decoration: underline; color: #0056b3;" })

                                            </div>
                                        }






                                        @*</div>
                                            </div>*@
                                    </div>
                                }

                                @*//ADOPTION FILE PATH*@
                            </section>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="form-group col-12 text-right">
                                    <a id="btnUPrevious" class="btn btn-primary btn-sm text-white">Previous</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/GroupInsurance/GIS_NCR_DDOVerification.js"></script>
@*<script src="~/Scripts/VerifyDetails/DDOVerification.js"></script>*@
@*<script type="text/javascript">
        window.onload = function () {
            history.pushState("/kgid-ddo-verification/?empId=1&applicationId=5", null, "/kgid-ddo-verification/")
        }
    </script>*@


