@model KGID_Models.NBApplication.VM_ApplicationDetail
@{
    ViewBag.Title = "Application Form";
}
<link href="~/Content/StepsDemo/css/jquery.steps.css" rel="stylesheet" />
<script src="~/Content/StepsDemo/js/jquery.steps.min.js"></script>
<style type="text/css">
    .wizard > .content > .body {
        position: relative;
    }

    ul {
        list-style-type: none;
    }

        ul li {
            list-style-type: none;
        }

    .application-tab .steps ul li {
        width: 14% !important;
    }

    .application-tab #ApplicationTab-t-5 {
        font-size: 11.5px;
        padding: 1.1em 1em;
    }

    #MedicalTab .steps ul li {
        width: 15% !important;
    }

    #btnASave {
        cursor: pointer;
    }

    #btnPSave {
        cursor: pointer;
    }

    #btnMSave {
        cursor: pointer;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #ffffff !important;
        background-color: #2184bed1 !important;
        border-color: #dee2e6 #dee2e6 #2184be !important;
        font-size: 14px;
        font-weight: 400;
    }

    .error {
        font-size: 0.75rem !important;
    }

    #navmenu .nav-link {
        border: 1px solid #d8d8d885 !important;
        margin: .5px;
    }

    #btnMedicalPrint {
        background: #2184be;
        color: #fff;
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .btnPayment {
        float: right;
    }

    .calclink {
        display: block;
        width: 100%;
        padding: 6px 2px 6px 6px;
        font-size: 16px;
        line-height: 1.5;
    }

    .foot-t-req {
        padding: 10px;
        background: #f7f7f7;
        border: none;
        border-radius: 20px !important;
        box-shadow: 0px 3px 3px #d8d8d8;
    }

    .table-block tr {
        page-break-after: always !important;
        page-break-before: always !important;
        page-break-inside: auto !important;
    }
</style>

@Html.HiddenFor(m => m.ApplicationId, new { id = "hdnKGIDApplicationId" })
@Html.HiddenFor(m => m.QRCode, new { id = "hdnQRCode" })
@Html.HiddenFor(m => m.SentBackAppliaction, new { id = "hdnSentBackAppliaction" })
@Html.Hidden("hdnInsuredEmployee")
@Html.HiddenFor(m => m.Remarks, new { id = "hdnRmrks" })



@*@Html.HiddenFor(m => m.RestrictApplyingPolicy, new { id = "hdnAge" })
        @Html.HiddenFor(m => m.PaymentStatus, new { id = "hdnPaymentStatus" })
    @Html.Hidden("hdnNewPolicyAmount")*@

@*@if (ViewBag.RestrictApplyingPolicy == true)
    {
        <p class="text-center font-size-18 foot-t-req">Cannot apply for new policy as age exceeding 50 years.</p>
    }
    else
    {*@



@if (ViewBag.AccessToNomineeChange == true)
{<p class="text-center font-size-18 foot-t-req">GIS Application has to be approved to apply for nominee change.</p>}

else
{
    if (ViewBag.ApplicationProcess == true)
    {
        <p class="text-center font-size-18 foot-t-req">Your application is in progress.</p>
    }
    else
    {
        <div id="divApplication1" data-eid="@Session["UID"]">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row text-center" style="color:blue;"><h5 class="col-12 text-black-100 font-weight-bold"><b><label class="knlan">ಮನವಿದಾರರ ಪ್ರಸ್ತಾವನೆ</label><label class="Enlan">Group Insurance -- Nominee Change Request</label></b></h5></div>
                            <hr />
                            <div class="row">
                                @*<h5 class="m-0 text-black-100 font-weight-bold col-3 text-center"><b>Employee Application</b></h5>*@
                                <div class="col-6 text-left" style="font-size:20px; color:black;">
                                    <label class="knlan">ರೆಫರೆನ್ಸ್ ಸಂಖ್ಯೆ :</label><label class="Enlan">Reference Number :</label><b><span id="spnReferanceNo">@Model.ApplicationNumber</span></b>
                                    <input type="hidden" id="hdnempidGIS" value="@Session["UID"]" />
                                    <input type="hidden" id="hdnApplnGIS" value=@Model.ApplicationId />
                                    <input type="hidden" id="hdnApplnGISNCRnumber" value=@Model.ApplicationNumber />
                                </div>
                                @*<div class="col-5 text-right" id="refNo" style="display:block;">
                                    <img alt="" style="height:60px;width:60px" id="imgQRCode" />
                                </div>*@
                            </div>
                        </div>
                        <div class="card-body">
                            <nav id="navmenu">
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a id="nav-Application-tab" class="nav-item nav-link active" data-toggle="tab" href="#nav-Application" role="tab" aria-controls="nav-Application" aria-selected="true" style="display:none"><b><label class="knlan">ಪ್ರಸ್ತಾವನೆಯ ವಿವರಗಳು</label><label class="Enlan">Employee Details</label></b></a>

                                    <a id="nav-Nominee-tab" class="nav-item nav-link active" data-toggle="tab" href="#nav-Nominee" role="tab" aria-controls="nav-Nominee" aria-selected="false"><b><label class="knlan">ಆರಂಭಿಕ ಠೇವಣಿ ಪಾವತಿ</label><label class="Enlan">Nominee Details</label></b></a>
                                    <a id="nav-Declaration-tab" class="nav-item nav-link disabled" data-toggle="tab" href="#nav-Declaration" role="tab" aria-controls="nav-Declaration" aria-selected="false"><b><label class="knlan">ವೈದ್ಯಕೀಯ ವರದಿ</label><label class="Enlan">Declaration</label></b></a>
                                    <a id="nav-Upload-tab" class="nav-item nav-link disabled" data-toggle="tab" href="#nav-Upload" role="tab" aria-controls="nav-Upload" aria-selected="false"><b><label class="knlan">ಆರಂಭಿಕ ಠೇವಣಿ ಪಾವತಿ</label><label class="Enlan">Upload Documents</label></b></a>

                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" style="background: #dfddd8;padding: 2.5%!important;">
                                <div class="tab-pane fade show " id="nav-Application" role="tabpanel" aria-labelledby="nav-home-tab" style="display:none">
                                    <div id="ApplicationTab" class="application-tab">

                                        <section>
                                            @{

                                                @Html.Action("GIS_NCR_EmployeeBasicDetailsToView", "GISNomineeChangeReq")
                                            }

                                        </section>
                                    </div>
                                    @*<div>
                                            <div class="row">
                                                <div class="form-group col-12  text-right">
                                                    <a id="btnempSave" class="btn btn-primary btn-sm text-white" onclick="SaveBasicDetails123();" style="display:none">Save</a>
                                                    <a id="btnempNext" class="btn btn-primary btn-sm text-white">Next</a>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="tab-pane fade show active" id="nav-Nominee" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div id="NomineeTab" class="application-tab">
                                        <section>
                                            @{
                                                @Html.Action("GIS_NCR_NomineeDetails", "GISNomineeChangeReq")
                                            }
                                        </section>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="form-group col-12  text-right">
                                                <a id="btnNomineeSave" class="btn btn-primary btn-sm text-white">Save</a>
                                                <a id="btnNomineeNext" class="btn btn-primary btn-sm text-white">Next</a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-Declaration" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div id="DeclarationTab">
                                        <section>

                                            @{
                                                @Html.Action("GIS_NCR_Declaration", "GISNomineeChangeReq")
                                            }
                                        </section>

                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="form-group col-12  text-right">
                                                <a id="btnempPreDeclaration" class="btn btn-primary btn-sm text-white">Previous</a>
                                                <a id="btnempSaveDeclaration" class="btn btn-primary btn-sm text-white" onclick="GisSaveDeclaration();" style="display:none;">Save</a>
                                                <a id="btnempNextDeclaration" class="btn btn-primary btn-sm text-white">Next</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-Upload" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div id="UploadTab">
                                        <section>

                                            @{
                                                @Html.Action("GIS_NCR_UploadForm", "GISNomineeChangeReq")
                                            }
                                        </section>

                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="form-group col-12  text-right">
                                                @*<a id="btnempUploadSave" class="btn btn-primary btn-sm text-white">Save</a>
                                                    <a id="btnempUploadNext" class="btn btn-primary btn-sm text-white">Next</a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <input type='button' value='yes' id='btnYes' />
                        <input type='button' value='no' id='btnNo' />
                    </div>
                </div>
            </div>
        </div>

    }

}


<script>

    $("document").ready(function () {
        $("#btnNomineeNext").click(function () {

            $('html, body').animate({ scrollTop: 0 }, 'slow');
        });
    });


</script>


<script src="~/Scripts/GroupInsurance/GISNCR_NomineeDetails.js"></script>

<script src="~/Scripts/GroupInsurance/GIS_NCR_Application.js"></script>


<script src="~/Scripts/html2canvas/html2canvas.js"></script>
<script src="~/Scripts/html2pdf/html2pdf.bundle.min.js"></script>
